.cards
  %ul.listitem
    %li
      %h1 Chance
      .chance
        %img{height: "245", src: "images/chance.jpg", title: "chance", width: "160"}/
        .info{style: "opacity: 0; height: 245px;"}
          .details
            You were caught driving solo in the HOV lane on I-65 South
            %span.note
              %span Pay $100 fine.
%li
  .chance
    %img{height: "245", src: "images/chance.jpg", title: "chance", width: "160"}/
    .info{style: "opacity: 0; height: 245px;"}
      .details
        Advance to I Dream of Weenie.
%li
  .chance
    %img{height: "245", src: "images/chance.jpg", title: "chance", width: "160"}/
    .info{style: "opacity: 0; height: 245px;"}
      .details
        The city has levied a tax on you to build the Convention Center.
        %span.note
          %span Pay $100 fine.
%li
  .chance
    %img{height: "245", src: "images/chance.jpg", title: "chance", width: "160"}/
    .info{style: "opacity: 0; height: 245px;"}
      .details
        A celebrity moved in next door to you, and now your property is worth way more
        %span.note
          %span Collect $150
%li
  .chance
    %img{height: "245", src: "images/chance.jpg", title: "chance", width: "160"}/
    .info{style: "opacity: 0; height: 245px;"}
      .details
        You've been elected to the board of the Grand Ole Opry.
        %span.note
          %span Collect $100
%hr/
%h1 Second Harvest
%ul.listitem-second
  %li
    .harvest
      %img{height: "245", src: "images/secondharvest.jpg", title: "Second Harvest", width: "160"}/
      .info
        .details
          You parked illegality in the Gulch
          %span.note Pay 50$ Fine
  %li
    .harvest
      %img{height: "245", src: "images/secondharvest.jpg", title: "Second Harvest", width: "160"}/
      .info
        .details
          You did something you regret
          %span.note Spend the night in the Davidson County Jail
  %li
    .harvest
      %img{height: "245", src: "images/secondharvest.jpg", title: "Second Harvest", width: "160"}/
      .info
        .details
          Advance to the Belle Meade Mansion
  %li
    .harvest
      %img{height: "245", src: "images/secondharvest.jpg", title: "Second Harvest", width: "160"}/
      .info
        .details
          Pay a $50 poor tax to Vanderbilt Hospital
  %li
    .harvest
      %img{height: "245", src: "images/secondharvest.jpg", title: "Second Harvest", width: "160"}/
      .info
        .details
          Stocks are up!
          %span.note Collect a $200 dividend from the Bank of Nashville.