!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title Frequently Asked Questions
    %link{rel: 'stylesheet', href: '../css/normalize.css'}
    %link{rel: 'stylesheet', href: '../css/style.css'}
  %body
    .container
      %header
        %nav
          %ul
            %li
              %a{href: '../index.html'} Home
            %li
              %a{href: '../nashopoly/board.html'} Board
            %li
              %a{href: '../nashopoly/pieces.html'} Pieces
            %li
              %a{href: '../nashopoly/cards.html'} Cards
            %li.landing FAQ
            %li
              %a{href: '../nashopoly/contact.html'} Contact
        %img{src: '../images/logo.png'}
      %section
      %footer
        %p (c)2013 Music City Convention and Visitors Bureau
        .social
          %ul
            %li
              %a{href: '#'}
                %img{src: '../images/facebook.png'}
            %li
              %a{href: '#'}
                %img{src: '../images/twitter.png'}
            %li
              %a{href: '#'}
                %img{src: '../images/pinterest2.png'}
            %li
              %a{href: '#'}
                %img{src: '../images/youtube2.png'}
            %li
              %a{href: '#'}
                %img{src: '../images/rss.png'}

