@import  'colors';
@import  'content';
@import  'fonts';
@import	 'footers';
@import  'header';
@import	 'nav';


#main {
	width: 960px;
	margin: 0px; auto;
}

.clear 
{
	clear: both;
}

a
{
	text-decoration: none;
	color: $tesla_red;

	&:hover
	{
		text-decorartion: underline;
		color: desaturated ($tesla-red, 40%)
	}
}