#football{

  float: left;
  margin :0;

  img{
    width:400px;
  }

  h4
    {
      color: $text_color;
      font-family: $main_font;
      margin-top: 10px;
      margin-left: 20px;
      font-size: 14px;
      // line-height:
      span{
          color: $teal;

      }
    }



}

#column{

  ul{
    list-style-type: none;
    float: left;
    margin-left: -40px;
    margin-top: 0;
    li{
      margin:0;
      // height:200px;
      // width: 50px;
    }
  }
}

table
  {


    width: 450px;
    th, td{
      text-align: left;
      padding: 5;
      font-size: 80%;
      font-family: $main_font;
      color: $text_color;






    border-bottom:solid 1px #949494;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;





    }

}
thead{
  padding:0;
}




.com{
  color:$teal;
}
.or{
  padding: 0 5px;
  width:10px;
 background-color: $orange;
 color: white;


    border:solid 0px $orange;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
}
.yel{
padding: 0 5px;
  width:10px;
 background-color: $yel;
 color: white;


    border:solid 0px $yel;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;

}
.turq{
padding: 0 5px;
  width:10px;
 background-color: $teal;
 color: white;


    border:solid 0px $teal;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
}
.blu{
padding: 0 5px;
  width:10px;
 background-color: $blu;
 color: white;


    border:solid 0px $blu;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
}
.last{
  padding-left: 40px;
}