@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
header {
  color: #444444;
  font-size: 14px; }
  header a {
    text-decoration: none;
    color: #444444; }
  header ul {
    list-style-type: none; }
  header li {
    display: inline-block; }
  header .topnav {
    margin-left: 390px; }
    header .topnav ul {
      float: left;
      margin-top: 10px; }
    header .topnav li {
      border-right: 1px solid #444444;
      padding: 0px 5px; }
  header .social {
    float: left;
    margin: 10px 10px 0px 10px; }
    header .social img {
      height: 16px;
      width: 16px; }
  header .login {
    width: 166px;
    height: 32px;
    float: left;
    background-color: #444444; }
    header .login p {
      margin-left: 20px;
      position: relative;
      top: -5px; }
    header .login a {
      color: white; }
    header .login span {
      color: #A7A7AD; }
  header .banner {
    margin-top: 15px; }
    header .banner img {
      float: left; }
    header .banner p {
      float: left;
      margin: 30px 0px 0px 10px; }
  header .midnav {
    margin-top: 35px; }
    header .midnav ul {
      float: left;
      margin-left: -40px; }
    header .midnav li {
      padding-right: 20px; }
    header .midnav .submit {
      color: #689f82; }
    header .midnav a {
      font-weight: bold; }
    header .midnav p {
      width: 166px;
      height: 32px;
      float: right;
      position: relative;
      bottom: 12px;
      border: 1px solid #9d9d9d;
      color: #9d9d9d; }
    header .midnav .search {
      position: relative;
      left: 10px;
      top: 8px; }
  header .bottomnav {
    position: relative;
    top: -35px; }
    header .bottomnav ul {
      margin-left: -40px;
      border-top: 1px solid #9d9d9d;
      border-bottom: 1px solid #9d9d9d; }
    header .bottomnav li {
      height: 20px;
      margin: 10px 0px 10px 5px;
      border-right: 1px solid #9d9d9d;
      padding-right: 10px; }
    header .bottomnav .lastnav {
      border-right: none; }
    header .bottomnav .midnav {
      margin-left: 266px; }
    header .bottomnav img {
      width: 20px;
      height: 20px;
      opacity: 0.4; }

#football {
  float: left;
  margin: 0; }
  #football img {
    width: 400px; }
  #football h4 {
    color: #444444;
    font-family: "Droid Sans", sans-serif;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px; }
    #football h4 span {
      color: #689f82; }

#column ul {
  list-style-type: none;
  float: left;
  margin-left: -40px;
  margin-top: 0; }
  #column ul li {
    margin: 0; }

table {
  width: 450px; }
  table th, table td {
    text-align: left;
    /*padding: 5px;*/
    font-size: 80%;
    font-family: "Droid Sans", sans-serif;
    color: #444444;
    border-bottom: solid 1px #949494;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px; }

thead {
  padding: 0; }

.com {
  color: #689f82; }

.or {
  padding: 0 5px;
  width: 10px;
  background-color: #df6d47;
  color: white;
  border: solid 0px #df6d47;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border-radius: 75px; }

.yel {
  padding: 0 5px;
  width: 10px;
  background-color: #ecd15c;
  color: white;
  border: solid 0px #ecd15c;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border-radius: 75px; }

.turq {
  padding: 0 5px;
  width: 10px;
  background-color: #689f82;
  color: white;
  border: solid 0px #689f82;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border-radius: 75px; }

.blu {
  padding: 0 5px;
  width: 10px;
  background-color: #1b99ac;
  color: white;
  border: solid 0px #1b99ac;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border-radius: 75px; }

.last {
  padding-left: 40px; }

html {
  background-color: #e4e6e5;
  font-family: "Droid Sans", sans-serif; }

#container {
  width: 960px;
  margin: auto; }

.clear {
  clear: both; }
